---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
import FeelsWheel from '../components/FeelsWheel/FeelsWheel';
import words from '../feelings.json';

const cards = [
    {
        href: 'joy',
        title: 'Joyful',
    },
    {
        href: 'sadness',
        title: 'Sad',
    },
    {
        href: 'power',
        title: 'Powerful',
    },
    {
        href: 'anger',
        title: 'Anger',
    },
    {
        href: 'peace',
        title: 'Peaceful',
    },
    {
        href: 'fear',
        title: 'Fear',
    },
];
---

<BaseLayout title='Feels Wheel'>
    <header
        class='p-4 w-[800px] max-w-[calc(100%-2rem)] text-neutral-900 dark:text-neutral-50 text-md/relaxed container mx-auto'>
        <h1
            class='dark:text-neutral-50 text-neutral-900 text-[4rem] mb-4 text-center font-bold'>
            The <span class='text-gradient'>Feels Wheel</span>
        </h1>
        <p class='dark:text-neutral-50 text-neutral-900 mb-7'>
            It's hard to express how you're feeling if all you have are simple
            emotions like "happy" or "sad." The Feels Wheel is a tool to help
            you find the right words to describe your emotions.
            <a
                href='/feels-wheel/about'
                class='mt-4 underline block font-medium'
                >Learn more about the feelings wheel.</a
            >
        </p>
    </header>
    <FeelsWheel
        client:load
        words={words}
    />
    <main
        class='p-4 w-[800px] max-w-[calc(100%-2rem)] text-neutral-900 dark:text-neutral-50 text-md/relaxed container mx-auto'>
        <section class='my-5'>
            <h2 class='text-3xl font-black text-center text-gradient'>
                Browse Words by Category
            </h2>
            <ul
                role='list'
                class='grid grid-cols-[repeat(auto-fit,_minmax(24ch,_1fr))] p-0 gap-8'>
                {
                    cards.map(({ href, title }) => (
                        <Card
                            href={`/feels-wheel/${href}`}
                            title={`${title} Words`}
                            body={`View the words that fall into the "${title.toLowerCase()}" category.`}
                        />
                    ))
                }
            </ul>
        </section>
    </main>
</BaseLayout>
